body {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

main {
  background-color: #fff;
  width: fit-content;
  margin: auto;
  box-shadow: 0.5px 0.5px 10px rgba(000, 000, 000, 0.5);
  position: relative;
}

main > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.move-task {
  margin-left: 1.5rem;
}

.move-task:hover {
  cursor: grab;
  user-select: none;
}

.move-task:active {
  cursor: grabbing;
}

.return-icon:hover,
.sync:hover {
  cursor: pointer;
}

.todo-title,
.todo-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 0.1rem;
}

.todo-input input {
  border: none;
  padding: 0.7rem 1rem 0.7rem 0.2rem;
}

input:focus {
  outline-style: none;
}

input::placeholder {
  font-style: italic;
  font-size: 1.1rem;
}

.remove-btn {
  align-self: flex-end;
  position: absolute;
  right: 25px;
  margin-right: 1rem;
  display: none;
  padding-left: 5px;
  user-select: none;
}

#todo-lists {
  list-style-type: none;
  margin-top: -0.1rem;
  margin-bottom: 0;
  padding: 0;
}

#todo-lists > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#todo-lists input {
  border: none;
  font-size: 1.1rem;
  margin-right: 1rem;
}

#todo-list input[type="text"] {
  margin-right: 5rem;
}

#todo-lists > *:hover {
  background-color: #f7f77c;
}

#todo-lists > li:hover .remove-btn {
  display: block;
  cursor: pointer;
}

#todo-lists > li:last-child {
  border-bottom: none;
}

.clear-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.clear-complete p:hover {
  cursor: pointer;
  color: #f00;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.hide-el {
  display: none;
}

.show-el {
  display: block;
}
